@model Aruna_Bakery_WithoutEntity.Models.Feedback

<div>
    <h2 style="text-align:center;margin-top:5%;font-size:30px;font-weight:800;color:sandybrown"> Customer  @Html.DisplayFor(model => model.name) Feedback </h2>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name) :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.email) :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.Ratings) :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ratings)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.Comment) :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

    </dl>
</div>
<br />
<p>

    <a href="/Feedback/Index" style="color:cornflowerblue;font-weight:500;font-size:15px;">Back to Feedbacks</a>
</p>
