@model IEnumerable<Aruna_Bakery_WithoutEntity.Models.Billing>


<h2 style="text-align:center;margin-top:5%;font-size:30px;font-weight:800;color:sandybrown">Billing Details</h2>
<br />
<a href="/Billing/Create" style="color:green;font-weight:800;font-size:20px;text-align:right">Add a New Billing </a>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.customer_number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.product_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bill_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gst)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.discount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.total_payment)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.customer_number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.product_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bill_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gst)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.discount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.total_payment)
            </td>
            <td style="margin-left:4%;color:dodgerblue">
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>
