@model IEnumerable<Aruna_Bakery_WithoutEntity.Models.sales>

<p>

    <h2 style="text-align:center;margin-top:5%;font-size:30px;font-weight:800;color:sandybrown">Sales Details</h2>
    <br />
    <a href="/sales/Create" style="color:green;font-weight:800;font-size:20px;text-align:right">Add a New Sale </a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.customerNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PurchaseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.payment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.customerNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PurchaseDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.payment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
        <td style="margin-left:4%;color:dodgerblue">
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
